.container{
    height: 400px;
    width: 520;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 7px solid #ccc;
    border-radius: 10px;
}

.input-field{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#room-name{
    border:none;
    outline:none;
    display:inline-block;
    height:34px;
    vertical-align:middle;
    position:relative;
    bottom:14px;
    border: 5px solid #ccc;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    padding:0 18px; 
}


#room-type{
    margin-top: 13px;
    border:none;
    outline:none;
    display:inline-block;
    height:34px;
    vertical-align:middle;
    position:relative;
    bottom:14px;
    border: 5px solid #ccc;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    padding:0 18px; 
}

#default-option{
    color: rgb(146, 146, 146)
}



#btn{
    position:relative;
    left:9px;
    top:25px; 
    width:100px;
    cursor:pointer;
    border: 5px solid #ccc;
    border-radius:22px;
    margin: 5px
}