#container {
    padding: 20px;
    border: 7px solid #ccc;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
  }
  
#room-info {
   padding: 10px;
   margin-bottom: 20px;
}
  
button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 8px;
}

li div {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

li button {
    margin-left: auto;
    padding: 5px 10px;
    background-color: #dc3545;
}

li button:hover {
    background-color: #c82333;
}

#buttons{
    margin-top: 30px;
}

#no-products{
    position: relative;
    bottom: 21px;
}