.add-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .add-product-form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .add-product-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .add-product-form div {
    margin-bottom: 15px;
  }
  
  .add-product-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .add-product-form input,
  .add-product-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .add-product-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-product-form button:hover {
    background-color: #45a049;
  }
  
  .add-product-form button[type="button"] {
    background-color: #f44336;
  }
  
  .add-product-form button[type="button"]:hover {
    background-color: #d32f2f;
  }
  